/*PC*/ 
@media (min-width: 1024px){

}

/*Tablet*/
@media (min-width: 740px) and (max-width: 1023px){

}

/*Mobile*/
@media (max-width: 740px){
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }

    /* Táº¡o inline-block cho Home node*/
    #nav > li:first-child {
        display: inline-block;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn .search-icon {
        display: none;
    }




}