#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a:hover,
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6)
}

#footer .copyright a{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6)
}